@{
    ViewBag.Title = "About";
}

<!-- MAIN-CONTENT-SECTION START -->
<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BSTORE-BREADCRUMB START -->
                <div class="bstore-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">HOME</a>
                    <span><i class="fa fa-caret-right	"></i></span>
                    <span>ABOUT US</span>
                </div>
                <!-- BSTORE-BREADCRUMB END -->
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <!-- SINGLE-ABOUT-INFO START -->
                <div class="single-about-info">
                    <div class="our-company">
                        <h3>Cửa hàng H-store</h3>
                        <strong>Chuyên cung cấp các sản phẩm tốt nhất, mới nhất và đảm bảo chất lượng sản phẩm đáp ứng mọi nhu cầu của khách hàng.</strong>
                        <div class="company-list-menu">
                            <ul>
                                <li>Các sản phẩm đạt chất lượng tốt nhất</li>
                                <li>Hỗ trợ khách hàng nhanh chóng</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- SINGLE-ABOUT-INFO END -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-about-info">
                    <!-- OUR-TEAM START -->
                    <div class="our-team">
                        <h3>Đội ngũ nhân viên</h3>
                        <strong>Chuyên nghiệp, năng động và nhiệt tình</strong>
                        <p>Để đảm bảo uy tín cũng như sự phát triển của hệ thống, tất cả các nhân viên đều được trải qua vòng tuyển chọn nghiêm ngặt, đòi hỏi tính chuyên nghiệp cao trong lĩnh vực bán hàng-kinh doanh.</p>
                    </div>
                    <!-- OUR-TEAM END -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-about-info">
                    <!-- OUR-TESTIMONIALS START -->
                    <div class="our-testimonials">
                        <h3>Các chi nhánh</h3>
                        <!-- SINGLE-TESTIMONIALS START -->
                        <h4><b>Khu vực phía bắc:</b></h4>
                        <div class="single-testimonials">
                            <div class="testimonials-text">
                                <span class="before"></span>
                                <i class="fa fa-map-marker"> Showroom 1:</i>
                                <a href="javascript:void(0)">
                                    <p>
                                        <a href="mailto:hoangtv130999@gmail.com">
                                            <i class="fa fa-angle-double-right"></i>
                                            193 Xuân Thủy, Cầu Giấy, Hà Nội
                                        </a>
                                    </p>
                                </a>
                                <span class="after"></span>
                            </div>
                        </div>

                        <!-- SINGLE-TESTIMONIALS END -->
                        <!-- SINGLE-TESTIMONIALS START -->
                        <h4><b>Khu vực phía nam:</b></h4>
                        <div class="single-testimonials">
                            <div class="testimonials-text">
                                <span class="before"></span>
                                <i class="fa fa-map-marker"> Showroom 2:</i>
                                <a href="javascript:void(0)">
                                    <p>
                                        <a href="mailto:hoangtv130999@gmail.com">
                                            <i class="fa fa-angle-double-right"></i>
                                            87 Bàu Cát, P.14, Q.Tân Bình, Tp.HCM
                                        </a>
                                    </p>
                                </a>
                                <span class="after"></span>
                            </div>
                        </div>
                        <!-- SINGLE-TESTIMONIALS END -->
                    </div>
                    <!-- OUR-TESTIMONIALS END -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MAIN-CONTENT-SECTION END -->
