@model IEnumerable<Web_DungCuHocTap.Models.Models.Loai>

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("DanhSachPhanLoai", "Shop", new { maphanloai = item.MaLoai})">@item.TenLoai</a>
    </li>
}
