
@{
    ViewBag.Title = "DangKyDangNhap";
}

<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BSTORE-BREADCRUMB START -->
                <div class="bstore-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                    <span><i class="fa fa-caret-right"></i></span>
                    <span>Đăng ký / Đăng nhập</span>
                </div>
                <!-- BSTORE-BREADCRUMB END -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="page-title">Đăng ký / Đăng nhập</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <!-- CREATE-NEW-ACCOUNT START -->
                <div class="create-new-account">
                    <form class="new-account-box primari-box" id="create-new-account" method="post" action="#">
                        <h3 class="box-subheading">Tạo tài khoản</h3>
                        <div class="form-content">
                            <p>Vui lòng điền thông tin của bạn.
                            </p>
                            <p>* bắt buộc phải có.</p>
                            <div class="form-group primary-form-group">
                                <!--username-->
                                <label>Tài khoản*</label>
                                <input type="text" value="" name="reg-username" id="reg-username" class="form-control input-feild">
                                <!--passs-->
                                <label>Mật khẩu*</label>
                                <input type="password" value="" name="reg-password" id="reg-password" class="form-control input-feild">
                                <!--confirm pass-->
                                <label for="confirm-pass">Xác nhận lại mật khâu*</label>
                                <input type="password" value="" name="confirm-pass" id="confirm-pass" class="form-control input-feild">
                                <label for="reg-fullname">Tên người dùng*</label>
                                <input type="text" value="" name="reg-fullname" id="reg-fullname" class="form-control input-feild">
                                <label for="reg-email">Email</label>
                                <input type="text" value="" name="reg-email" id="reg-email" class="form-control input-feild" required>
                                <label for="reg-phone">SDT</label>
                                <input type="tel" value="" name="reg-phone" id="reg-phone" class="form-control input-feild">

                            </div>
                            <div class="submit-button">
                                <a href="javascript:void(0);" id="SubmitCreate" class="btn main-btn">
                                    <span>
                                        <i class="fa fa-user submit-icon"></i>
                                        Tạo tài khoản
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- CREATE-NEW-ACCOUNT END -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <!-- REGISTERED-ACCOUNT START -->
                <div class="primari-box registered-account">
                    <form class="new-account-box" id="accountLogin" method="post" action="#">
                        <h3 class="box-subheading">ĐĂNG NHẬP</h3>
                        <div class="form-content">
                            <div class="form-group primary-form-group">
                                <label for="login-username">Tài khoản</label>
                                <input type="text" value="" name="username" id="login-username" class="form-control input-feild">
                            </div>
                            <div class="form-group primary-form-group">
                                <label for="login-password">Mật khẩu</label>
                                <input type="password" value="" name="password" id="login-password" class="form-control input-feild">
                            </div>
                            <div class="forget-password">
                                <p><a href="#">Quên mật khẩu?</a></p>
                            </div>
                            <div class="submit-button">
                                <a href="javascript:void(0)" id="signinCreate" class="btn main-btn">
                                    <span>
                                        <i class="fa fa-lock submit-icon"></i>
                                        Đăng nhập
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- REGISTERED-ACCOUNT END -->
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#create-new-account").validate({
                rules: {
                    "reg-username": "required",
                    "reg-password": {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    "reg-username": "Vui lòng nhập tên",
                    "reg-password": {
                        required: "Vui lòng nhập password",
                        minlength: "Password quá ngắn!"
                    }
                }
            });

            $("#SubmitCreate").click(function () {

                $.post("@Url.Action("DangKy", "Customer")",
                    {
                        "UserName": $("#reg-username").val(),
                        "UserPassword": $("#reg-password").val(),
                        "EmailKH": $("#reg-email").val(),
                        "TenKH": $("#reg-fullname").val(),
                        "SDTKH": $("#reg-phone").val()
                    },
                    function (data) {
                        console.log(data);
                    }
                );
            });

            $("#signinCreate").click(function () {

                $.post("@Url.Action("DangNhap", "Customer")",
                    {
                        "UserName": $("#login-username").val(),
                        "UserPassword": $("#login-password").val()
                    },
                    function (data) {
                        if (data == 1) {
                            window.location.href = "@Url.Action("Index", "Home")";
                        }
                    }
                );
            });
        });
    </script>
}

