
@model IEnumerable<Web_DungCuHocTap.Models.Models.SanPham>

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6">
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Thêm sản phẩm</h2>
        </div>
        <div class="card-body">
            <form action="#" id="add-product-form">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="product-name" placeholder="Nhập...">
                </div>
                <div>
                    <p id="category-url"></p>
                </div>
                <div class="form-footer pt-5 border-top">
                    <button type="submit" class="btn btn-primary btn-default" id="add-product-form">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#add-product-form").submit(function (event) {

                $.post("@Url.Action("AddProduct", "Product")", {
                    "TenSP": $("#product-name").val()
                }, function (data) {
                    if (data > 0) {
                        alert(`Đã thêm thành công id ${data}`);
                        location.reload();
                    } else {
                        alert(`Thêm không thành công`);
                    }
                }
                );

                event.preventDefault();
            });
        });
    </script>
}


